.cardano-wallet-selector__button {
  @apply bg-blue-300 dark:bg-transparent border-none dark:border-white text-white font-bold tracking-wider p-0 min-h-0 h-10;
}

/* hide wallet provider icon */
.cardano-wallet-selector__button img {
  display: none;
}

.cardano-wallet-selector__button--warning .cardano-wallet-selector__button__content {
  display: none;
}

.cardano-wallet-selector__button--warning:after {
  content: "Invalid Network";
}

.cardano-wallet-selector__menu__item,
.cardano-wallet-selector__menu__item:last-child {
  @apply border-none dark:border-white;
}

.cardano-wallet-selector__menu__item button {
  @apply bg-blue-300 dark:bg-transparent font-bold tracking-wider transition-colors duration-200 ease-in-out;
}

.cardano-wallet-selector__menu__item button:not(:disabled):hover {
  @apply bg-blue-400 dark:bg-transparent;
}

.cardano-wallet-selector__menu__item__text__icon {
  display: none;
}

.cardano-wallet-selector__menu__item__text,
.cardano-wallet-selector__menu__item--current__checkmark,
.cardano-wallet-selector__menu__item__disconnect {
  @apply text-white;
}

.cardano-wallet-selector__button__loading-spinner {
  @apply pt-0.5 pb-1;
}

.cardano-wallet-selector__button__loading-spinner:after {
  @apply border-t-white border-b-white dark:border-t-gray-800 dark:border-b-gray-800;
}
